<section class="content">
    <div class="content-main">
        <div class="content-name">
            Anggota
        </div>
        <div class="anggota-page">
            <div class="option-anggota">
                <a href="/anggota/add_anggota" class="add-anggota">Add Anggota</a>
            </div>
            <div class="database-anggota">
                <div class="database-anggota-title">

                </div>
            </div>
        </div>
    </div>
</section>