<section class="content">
    <div class="content-main">
        <div class="content-name">
            Anggota
        </div>
        <div class="anggota-page">
            <div class="option-anggota">
                <a href="/anggota/add_anggota" class="add-anggota">Add Anggota</a>
            </div>
            <div class="database-anggota">
                <div class="database-anggota-title">
                    <div class="anggota-nim">NIM</div>
                    <div class="anggota-nama">Nama</div>
                    <div class="anggota-tanggal-lahir">Tanggal Lahir</div>
                    <div class="anggota-prodi">Prodi</div>
                    <div class="anggota-periode">Periode</div>
                    <div class="edit-anggota"></div>
                </div>
                <div class="database-anggota-value-store">
                    <div class="database-anggota-value">
                        <div class="anggota-nim">213140707111106</div>
                        <div class="anggota-nama">Ahfaitar Abdil Hakim</div>
                        <div class="anggota-tanggal-lahir">15 Maret 2003</div>
                        <div class="anggota-prodi">Teknologi Informasi</div>
                        <div class="anggota-periode">1945-now</div>
                        <div class="edit-anggota">
                            <button><i class="bi bi-trash"></i></button>
                            <button><i class="bi bi-pencil-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>