<section class="content">
    <div class="content-main">
        <div class="content-name">
            Berita
        </div>
        <div class="content-page">
            <div class="option-page">
                <a href="/add?page=berita" class="add-btn">Add Berita</a>
            </div>
            <div class="database-berita">
                <div class="database-berita-title">
                    <div class="berita-id">Id</div>
                    <div class="berita-title">Judul Berita</div>
                    <div class="berita-value-title">Isi Berita</div>
                    <div class="berita-penulis">Penulis</div>
                    <div class="edit-berita"></div>
                </div>
                <div class="database-berita-value-store">
                    <% for( let index = 0; index < database.length; index++ ) { %>
                    <div class="database-berita-value">
                        <div class="berita-id"><%= database[index].id_berita %></div>
                        <div class="berita-title"><%= database[index].judul_berita %></div>
                        <div class="berita-value"><%= database[index].isi_berita %></div>
                        <div class="berita-penulis"><%= database[index].nama %> </div>
                        <div class="edit-berita">
                            <a><i class="bi bi-trash"></i></a>
                            <a><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>