<section class="content">
    <div class="content-main">
        <div class="content-name">
            Berita
        </div>
        <div class="berita-page">
            <div class="option-berita">
                <a href="/berita/add_berita" class="add-berita">Add Berita</a>
            </div>
            <div class="database-berita">
                <div class="database-berita-title">
                    <div class="berita-id">Id</div>
                    <div class="berita-username">Judul Berita</div>
                    <div class="berita-proker">Isi Berita</div>
                    <div class="berita-jabatan">Penulis</div>
                    <div class="edit-berita"></div>
                </div>
                <div class="database-berita-value-store">
                    <div class="database-berita-value">
                        <div class="berita-id">1</div>
                        <div class="berita-username">Ahfaitar Abdil Hakim</div>
                        <div class="berita-proker">apa itu Proker?</div>
                        <div class="berita-jabatan">Tank</div>
                        <div class="berita-periode">1945-now</div>
                        <div class="edit-berita">
                            <button><i class="bi bi-trash"></i></button>
                            <button><i class="bi bi-pencil-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>