<section class="content">
    <div class="content-main">
        <div class="content-name">
            Periode
        </div>
        <div class="content-page">
            <div class="option-page">
                <a href="/admin/periode/addperiode" class="add-btn">Add periode</a>
            </div>
            <div class="database-periode">
                <div class="database-periode-title">
                    <div class="periode-id">id</div>
                    <div class="periode-tahun">Tahun</div>
                    <div class="periode-prodi">Nama Periode</div>
                    <div class="edit-periode"></div>
                </div>
                <div class="database-periode-value-store">
                    <% for( let index = 0; index < database.length; index++ ) { %>
                    <div class="database-periode-value">
                        <div class="periode-id"><%= database[index].id_periode %></div>
                        <div class="periode-tahun"><%= database[index].tahun %></div>
                        <div class="periode-prodi"><%= database[index].nama_periode %></div>
                        <div class="edit-periode">
                            <a><i class="bi bi-trash"></i></a>
                            <a><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>