    <section class="content">
        <div class="content-main">
            <div class="content-name">
                Profile
            </div>
            <div class="profile-page">
                <div class="profile-pict">
                    <div class="img"><img src="/img/profile/<%= database[0].foto_user %> " alt=""></div>
                </div>
                <div class="desc-profile">
                    <div class="profile-desc-page">
                        <div class="profile-name"><%= database[0].nama %> </div>
                        <div class="profile-email"><%= database[0].email %> </div>
                    </div>
                    <a class="edit-profile" href="/admin/user/edit_user?id=<%= database[0].nama %>">
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>
    </section>