    <section class="content">
        <div class="content-main">
            <div class="content-name">
                Profile
            </div>
            <div class="profile-page">
                <div class="profile-pict">
                    <div class="img"></div>
                </div>
                <div class="desc-profile">
                    <div class="profile-desc-page">
                        <div class="profile-name">Ahfaitar Abdil Hakim</div>
                        <div class="profile-email">12345@gmail.com</div>
                    </div>
                    <a class="edit-profile" href="/admin/profile/editprofile">
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>
    </section>