/* variable css */
*{
    --sidebar-background : rgb(106, 92, 240);
    --sidebar-fontcolor : rgb(241, 241, 255);
    --sidebar-backhover: rgb(226, 237, 247);
    --sidebar-width: 16%;
    --content-main-width: 84%;
}
/* variable css */

/* property html */
body{
    margin: 0;
}

hr{
    margin: 0 5%;
    color: var(--sidebar-fontcolor);
}
/* property html */


/* sidebar */
.sidebar{
    position: fixed;
    height: 100%;
    width: var(--sidebar-width);
    background-color: var(--sidebar-background);
    box-shadow: 0 0 13px 0.5px #8f8f8f;
    z-index: 10;
}

.logo-section{
    font-size: 15px;
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 15px 0 15px 13px;
}

.logo-section img{
    width: 35px;
}

.logo-title{
    color: var(--sidebar-fontcolor);
    padding-top: 4px;
    padding-left: 7px;
    font-size: 20px;
}

.sidebar-drawer{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.sidebar-item{
    display: block;
    color: var(--sidebar-fontcolor);
    font-style: normal;
    text-decoration: none;
    padding: 10px 0px 10px 18px;
    background-color: var(--sidebar-background);
}

.sidebar-item:hover{
    background-color: var(--sidebar-backhover);
    color: rgb(127, 175, 224);
}

.sidebar-item i{
    font-size: 25px;
    float: left;
}

.sidebar-item-title{
    font-family: 'Cabin', sans-serif;
    font-weight: 800;
    padding-left: 15px;
    padding-top: 3px;
    margin-left: 19px;
}

.item-selected{
    color: rgb(82, 121, 172);
    background-color: rgb(234, 238, 243);
}

.logout-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: var(--sidebar-fontcolor);
    font-style: normal;
    text-decoration: none;
    padding: 10px 18px 10px 18px;
    background-color: var(--sidebar-background);
}

.logout-btn:hover{
    background-color: var(--sidebar-backhover);
    color: rgb(127, 175, 224);
}

.logout-btn i{
    font-size: 25px;
    float: left;
}

.sidebar-logout-title{
    font-family: 'Cabin', sans-serif;
    font-weight: 800;
    padding-left: 15px;
    padding-top: 3px;
    margin-left: 25px;
}
/* sidebar */

/* content main */
.content-main{
    position: absolute;
    right: 0;
    height: 100%;
    width: var(--content-main-width);
    background-color: rgb(245, 247, 255);
}

.content-name{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 45px;
}
/* content main */

/* profile page css */
.profile-page{
    background-color: #f9fbff;
    height:300px;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #738fb1;
}

.profile-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pict{
    padding-left: 5%;
    padding-bottom: 2%;
}

.profile-pict .img{
    background-color: blue;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.desc-profile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-desc-page{
    margin-bottom: 80px;
    margin-left: 30px;
}

.desc-profile .profile-name{
    font-size: 40px;
    font-weight: 600;
}

.desc-profile .profile-email{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 100;
}

.desc-profile .edit-profile{
    border-style: none;
    margin-left: 82%;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
    color: #f9fbff;
    background-color: var(--sidebar-background);
}
/* profile page css */

/* anggota page css */
.anggota-page{
    background-color: #f9fcff;
    margin-top: 20px;
    margin-left: 2.5%;
    width: 95%;
    height: 83%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #738fb1;
}

.option-anggota{
    display: flex;
    justify-content: flex-end;
}

.option-anggota .add-anggota{
    display: flex;
    justify-content: center;
    background-color: var(--sidebar-background);
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    margin: 15px 15px 0 0;
    color: #f9fbff;
    font-weight: 700;
    text-decoration: none;
}

.database-anggota{
    margin-top: 10px;
    height: 90%;
}

.database-anggota .database-anggota-title{
    background-color: rgb(139, 126, 255);
    color: var(--sidebar-fontcolor);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
    margin: 5px 7px 0px 7px;
}

.anggota-nim{
    text-align: center;
    width: 15%;
}
.anggota-nama{
    text-align: center;
    width: 30%;
}
.anggota-tanggal-lahir{
    text-align: center;
    width: 12%;
}
.anggota-prodi{
    text-align: center;
    width: 20%;
}
.anggota-periode{
    text-align: center;
    width: 10%;
}
.edit-anggota{
    text-align: center;
    width: 13%;
}

.edit-anggota button{
    width: 30%;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    border: none;
    background-color: var(--sidebar-background);
    color: var(--sidebar-fontcolor);
}

.database-anggota .database-anggota-value-store{
    overflow: auto;
    height: 87%;
}

.database-anggota .database-anggota-value-store .database-anggota-value{
    background-color: rgb(236, 234, 255);
    color: #15223d;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px 20px 0px;
    margin: 5px 7px 0px 7px;
}
/* anggota page css */

/* Berita page css */
