<div class="add-page">
    <div class="titleAndbutton">
        <h1 class="title">Add Proker</h1>
        <a href="/anggota">Back</a>
    </div>
    <form class="form-add" action="/add_user" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nama Proker</label>
            <input type="number" class="form-control" id="nim" placeholder="Nomer NIM" name="nim">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">tanggal</label>
            <input type="text" class="form-control" id="nama" placeholder="Nama Anggota" name="nama">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">lokasi</label>
            <input type="date" class="form-control" id="tanggal_lahir" placeholder="isikan Tanggal Lahir" name="tanggal_lahir">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">deskripsi</label>
            <input type="text" class="form-control" id="prodi" placeholder="Prodi" name="prodi">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Penanggung Jawab</label>
            <input type="text" class="form-control" id="periode" placeholder="Periode" name="periode">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Dokumentasi</label>
            <input type="Text" class="form-control" id="jabatan" placeholder="jabatan" name="jabatan">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Dokumentasi</label>
            <input type="Text" class="form-control" id="jabatan" placeholder="jabatan" name="jabatan">
        </div>
        <div>
            <button type="submit" value="Submit">submit</button>
        </div>
    </form>
</div>